/*** SEMANTIC COLOR SCHEME OVERRIDES ***/
$primary:   #94ba65;  // Verde Institucional IIAP
$secondary: #FF7E2E;  // Naranja Institucional IIAP
$success:   #94ba65;
$info:      #FF7E2E;
$warning:   #FF7E2E;
$danger:    #cf4444;
$light:     #f8f9fa;
$dark:      #1a1a1a;

$link-color: $info;
$link-hover-color: darken($link-color, 15%);

$ds-header-bg: #fff;
$ds-header-icon-color: #94ba65;
$ds-navbar-link-color: #94ba65;
$ds-navbar-link-color-hover: #7da54e;
$ds-header-navbar-border-bottom-color: #94ba65;

// Link and UI colors
$link-color: #94ba65;
$link-hover-color: darken($link-color, 15%);
@import '../../../styles/_variables.scss';

$theme-custom-semantic-colors: (
);
$theme-colors: map-merge($theme-colors, $theme-custom-semantic-colors);
