@if (!!tab) {
  <div class="container">
    @if (!tab.rows || tab.rows.length === 0) {
      @if (item?.entityType === 'OrgUnit') {
        @if (['organizations', 'projects', 'publications'].includes(tab.shortname)) {
          <div class="alert alert-info mt-4" style="background-color: #f8f9fa; border-left: 4px solid #FF7E2E; color: #333;"
               [innerHTML]="'layout.tab.empty.OrgUnit.' + tab.shortname | translate: { name: (item?.name || item?.firstMetadataValue('dc.title')) }">
          </div>
        }
      }
      @if (item?.entityType === 'Person') {
        @if (['p_pubs', 'p_projs', 'p_pats', 'p_orgs'].includes(tab.shortname)) {
          <div class="alert alert-info mt-4" style="background-color: #f8f9fa; border-left: 4px solid #FF7E2E; color: #333;"
               [innerHTML]="'layout.tab.empty.Person.' + tab.shortname | translate: { name: (item?.name || item?.firstMetadataValue('dc.title')) }">
          </div>
        }
      }
    } @else {
      @for (row of tab.rows; track row) {
        <div [class]="row.style" [class.row]="!hasRowClass(row.style)">
          @for (cell of row.cells; track cell) {
            <div class="cell" [class]="cell.style" [class.col]="!hasColClass(cell.style)" [class.px-0]="!showCellPadding">
              @for (box of cell.boxes; track box) {
                <ds-cris-layout-box-container [box]="box" [item]="item" [tabName]="tab.shortname"></ds-cris-layout-box-container>
              }
            </div>
          }
        </div>
      }
    }
  </div>
}
