<div class="cris-layout">
  @if (!!tabs$) {
    <ng-container *ngVar="(leadingTabs$ | async) as leadingTabs">
      @if ((hasLeadingTab$ | async) && !!leadingTabs && leadingTabs.length > 0) {
        <ds-cris-layout-leading
          [item]="item"
          [showContextMenu]="showContextMenu"
        [tab]="leadingTabs[0]"></ds-cris-layout-leading>
      } @else {
        <!-- Global header for entities WITHOUT a leading tab (e.g. Project) -->
        <div class="container shadow-none">
          <div class="d-flex flex-column flex-md-row justify-content-between align-items-start mb-4 mt-2">
            <h1 class="item-page-title flex-grow-1 mb-3 mb-md-0 me-md-4 text-break">
              {{ item.firstMetadataValue('dc.title') }}
            </h1>
            @if (showContextMenu) {
              <div class="context-menu-wrapper ms-auto text-end">
                <ds-context-menu [contextMenuObject]="item" [contextMenuObjectType]="'ITEM'"></ds-context-menu>
              </div>
            }
          </div>
        </div>
      }
    </ng-container>
  }

  @if (!!tabs$) {
    <ng-container *ngVar="(loaderTabs$ | async) as loaderTabs">
      @if (!!loaderTabs && loaderTabs.length > 0) {
        <ds-cris-layout-loader
          [leadingTabs]="(leadingTabs$ | async)"
          [item]="item"
          [showContextMenu]="(hasLeadingTab$ | async) !== true && showContextMenu"
        [tabs]="loaderTabs"></ds-cris-layout-loader>
      }
    </ng-container>
  }
</div>
