<div class="cris-layout">
  @if (!!tabs$) {
    <ng-container *ngVar="(leadingTabs$ | async) as leadingTabs">
      @if ((hasLeadingTab$ | async) && !!leadingTabs && leadingTabs.length > 0) {
        <ds-cris-layout-leading
          [item]="item"
          [showContextMenu]="showContextMenu"
        [tab]="leadingTabs[0]"></ds-cris-layout-leading>
      }
    </ng-container>
  }

  @if (!!tabs$) {
    <ng-container *ngVar="(loaderTabs$ | async) as loaderTabs">
      @if (!!loaderTabs && loaderTabs.length > 0) {
        <ds-cris-layout-loader
          [leadingTabs]="(leadingTabs$ | async)"
          [item]="item"
          [showContextMenu]="(hasLeadingTab$ | async) !== true && showContextMenu"
        [tabs]="loaderTabs"></ds-cris-layout-loader>
      }
    </ng-container>
  }
</div>
