<ds-home-coar></ds-home-coar>
<ds-home-news></ds-home-news>


@if (site$.value) {
  @for (sectionComponentRow of ( sectionComponents | async ); track sectionComponentRow) {
    <div>
      <div class="container">
        <div class="row">
          @for (sectionComponent of sectionComponentRow; track sectionComponent) {
            <div [class]="componentClass(sectionComponent)"
              >
              @switch (sectionComponent.componentType) {
                @case ('top') {
                  <ds-top-section
                    [sectionId]="sectionId"
                  [topSection]="$any(sectionComponent)"></ds-top-section>
                }
                @case ('browse') {
                  <ds-browse-section
                    [sectionId]="sectionId"
                  [browseSection]="$any(sectionComponent)"></ds-browse-section>
                }
                @case ('facet') {
                  <ds-facet-section
                    [sectionId]="sectionId"
                  [facetSection]="$any(sectionComponent)"></ds-facet-section>
                }
                @case ('counters') {
                  <ds-counters-section
                    [sectionId]="sectionId"
                  [countersSection]="$any(sectionComponent)"></ds-counters-section>
                }
                @case ('text-row') {
                  <ds-text-section
                    [sectionId]="sectionId"
                    [textRowSection]="$any(sectionComponent)"
                  [site]="$any(sectionComponent).contentType === 'text-metadata' ? site$.value : null"></ds-text-section>
                }
              }
            </div>
          }
        </div>
      </div>
    </div>
  }
}

<ds-suggestions-popup></ds-suggestions-popup>
